body {
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;

    /* background: radial-gradient(circle, rgba(103, 103, 103, 1) 0%, rgba(0, 0, 0, 1) 100%); */

    background-color: black;

    height: 100vh;
}

.flex-aj {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-wrapper {
    flex-direction: column;
}

.start-wrapper {
    color: #dfd9d9;
    font-family: 'Architects Daughter', cursive;
    /* margin-top: .5rem; */
}

.start-btn {
    font-size: 1.5rem;
    padding: 1rem 5rem;
    border-radius: 2rem;
    background: none;
    outline: none;
    color: #F8F1F1;
    font-family: inherit;
    border: 3px solid white;
}

.start-btn:hover {
    background: white;
    color: black;
}

.start-btn:active {
    border: 3px solid black;
}

.board-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.2rem;
    column-gap: .5rem;
    /* background-color: rgb(2, 84, 100, 0.6); */
    background-color: white;
    box-sizing: border-box;

    border-radius: 1rem;

}

.box {
    padding: .5rem 2.7rem;

    border: none;
    outline: none;
    box-sizing: border-box;
    /* background-color: rgb(255, 229, 105, 1); */
    background-color: black;
    color: transparent;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
}

.box:active {
    border: 2px solid black;
}

#modal-wrapper {
    position: absolute;
    display: none;
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 15;

    height: 30%;
    width: 40%;
    flex-direction: column;
    border: 2px solid white;
    background-color: #F1F6F9;
    border-radius: 1rem;
}

.modal h2 {
    font-size: 2rem;
    font-family: 'Yatra One', cursive;
}

.modal button {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: #394867;
    color: rgb(245, 245, 201);
    font-family: 'Yatra One', cursive;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    z-index: 10;
}


@media only screen and (max-width : 600px) {
    body {
        /* padding: 1rem; */
        height: 95vh;
    }

    .start-wrapper {
        margin-top: -2rem;
    }

    h1 {
        text-align: center;
    }

    .box {
        font-size: 2rem;
        padding: .5rem 2.2rem;
    }

    .modal {
        height: 25%;
        width: 90%;
    }

    .modal button {
        font-size: 1.1rem;
        padding: .8rem 2rem;
        border-radius: 1rem;
        background-color: #394867;
        color: rgb(245, 245, 201);
        font-family: 'Yatra One', cursive;
    }
}